div.Navtidi
     label(for= "menu-toggle") &#x2630;
     input#menu-toggle(type="checkbox")
     ul#nav
        li 
          a( href = "") Acerca
        li 
          a( href = "") Contacto
        li 
          a( href = "") Otros
        li 
          a( href = "") Menu