
 Primario = #4FC3F7
 primario_dark = #0288D1
 acent = #FF4081
 cafe = #6A4A3C
* 
  margin 0 
  padding 0 
  box-sizing border-box


body
	font-family Arial
	font-size 16px
  min-height 100%
  background-image radial-gradient(mintcream 0%, lightgray 100%) 

h1 
  text-align center
  font-size 3em
  

footer 
  display block
  height 100px
  padding 1em 0 0
.inner 
  height 100px
  width 100%
.copyright 
  line-height 100px
  width 56.6%
  float left
  border-left 1px solid #e3e3e3
  border-top 1px solid #e3e3e3
  border-bottom 1px solid #e3e3e3
.copyright span
  margin-left 10%
  letter-spacing 2px
  color acent
  
@import "./animation/styles.styl"
@import "./menu/styles.styl"
@import "./cardsproyec/styles.styl"








