html(lang="es")
head 
    meta(charset= "UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    title  TIDI
    link(rel="stylesheet", href="./public/css/app.css")
body
    header.headertidi
     include ./animation/template.jade 
    include ./menu/template.jade
    
section.proyect
    include ./cardsproyec/template.jade

footer
    div.inner
     div.copyright
        span&copy 2015 TIDI