h1 Proyecto TIDI
div.container
 div#carousel
  figure
   a( href = "./proyecto.html")
    img(src='./public/img/ase.png', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')
  figure
   img(src='http://lorempixel.com/186/116/nature/1', alt='')